#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#intro-placeholder {
  background-color: rgba(155, 42, 27, 0.349);
}

#nav-bar:hover, #theme-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

#app-name:hover {
  cursor: pointer;
}
